/** @format */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  /* letter-spacing: 2%; */
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  display: block;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.top-logo-end {
  color: #2e2f42;
}

.container {
  width: 1158px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  max-width: 1440px;
  margin: 0 auto;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.nav-list-link:hover {
  color: #404bbf;
}

.nav-list-item:focus {
  color: #404bbf;
}

.nav-list-link-one {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

.nav-list-link-one::after {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  content: "";
  margin-top: 20px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  position: absolute;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover {
  color: #404bbf;
}

.contacts:focus {
  color: #404bbf;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-one {
  background: #2e2f42;
  padding: 188px 0;
  height: 600px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
}

.page-sec-one {
  display: flex;
  flex-direction: column;
}

.main-header {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  max-width: 496px;
  align-self: center;
}

.button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  align-self: center;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-two {
  background: #fff;
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-two-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.dscr-icon-block {
  display: flex;
  background-color: #f4f4fd;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
  align-items: center;
}

.dscr-icon {
  margin: 24px 100px;
}

.section-two-list-item {
  width: calc((100% - 72px) / 4);
}

.list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 8px 0;
}

.description {
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.section-three {
  background: #f4f4fd;
  padding: 120px 0;
}

.header-sect {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-three-list {
  display: flex;
  gap: 24px;
}

.section-three-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.section-three-list-item-1 {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.worker-info {
  padding: 32px 0;
}

.section-three-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.section-three-parag {
  text-align: center;
}

.socials-networks {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.socials-networks-list {
  width: 40px;
  height: 40px;
}

.socials-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  margin-top: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-networks-link:hover,
.socials-networks-link:focus {
  background-color: #404bbf;
}

.svg-socials {
  fill: #f4f4fd;
}

.section-four {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: auto;
}

.container-sec-four {
  flex-flow: column;
}

.sect-four-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sect-four-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: auto;
}

.sect-four-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.sect-four-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-parent-sec-four {
  position: relative;
  overflow: hidden;
}

.sect-four-list-item:hover .overlay {
  transform: translateY(0%);
}

.overlay-parent-sec-four:hover,
.overlay-parent-sec-four:focus {
  transform: translateY(0%);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  text-align: left;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
}

.app-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.sect-four-parag {
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  margin: auto;
}

.container-footer {
  margin-right: 120px;
  width: 264px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.header-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.socials-networks-footer {
  gap: 16px;
  margin-top: 0;
}

.socials-networks-link-footer {
  margin-top: 0;
}

.socials-networks-link-footer:hover,
.socials-networks-link-footer:focus {
  background-color: #31d0aa;
}

.footer-logo-end {
  color: #f4f4fd;
}

.footer-parag {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.subscribe {
  margin-left: 80px;
}

.subscribe-par {
  margin-bottom: 16px;

  font-weight: 500;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.suscribe-form {
  display: flex;
  gap: 24px;
}

.suscribe-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.suscribe-email::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 24px;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
  top: 50%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-open {
  display: block;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn-icon:focus,
.modal-close-btn-icon:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.review-form-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.review-form-wraper {
  margin-bottom: 8px;
}

.review-form-input {
  background: transparent;
  outline: transparent;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-input-wraper {
  position: relative;
}

.review-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border-color: #4d5ae5;
}

.review-form-input:focus + .review-form-icon {
  fill: #4d5ae5;
}

.review-form-masage {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-masage::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.review-form-masage:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  outline: transparent;
}

.review-form-wraper-comment {
  margin-bottom: 16px;
}

.privacy-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  /* text-decoration-skip-ink: none; */
  color: #4d5ae5;
}

.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review-form-privacy-checbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  width: 16px;
  height: 16px;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.review-form-privacy-checbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  outline: 1px solid rgba(46, 47, 66, 0.4);
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-own-checbox-icon {
  top: 50%;
}

.review-form-checkbox-wraper {
  margin-bottom: 24px;
}

.review-form-submit-button {
  display: block;
  margin: auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
